<div class="method <%= divClass %>">
  <button class="btn <%= btnClass %>"><%= method%></button>
  <p><%= pText%></p>
</div>

<!-- former method divs from index.ejs later delete them when all working -->
<!-- <div class="method list-fruits selected-method">
            <button class="btn btn-get-fruits">GET</button>
            <p>List of fruits</p>
          </div> -->
<!-- <div class="method single-fruit">
            <button class="btn btn-get-fruit">GET</button>
            <p>Single fruit</p>
          </div> -->
