<!-- this is ejs template used in combination with model/configData.js to create method divs in TRY IT OUT SECTION and are included into index.ejs  -->

<div class="method <%= divClass %>">
  <button class="btn <%= btnClass %>"><%= method%></button>
  <p><%= pText%></p>
</div>
